* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Inter, sans-serif;
    color: #013F4E;
    overflow-x: hidden;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.sidebar {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #d2e6eb;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px #CFCBC8;
}

.sidebar-title {
    text-transform: uppercase;
    font-size: 32px;
    margin-bottom: 40px;
}

.sidebar-title span {
    color: #0BA5BE;
}

.sidebar-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar-links a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: #013F4E;
    font-weight: 500;
}

.sidebar-links a:hover {
    color: #00718F;
    transition: all 0.3s;
}

.main-content {
    margin-left: 300px;
}

.hero-section {
    height: 100vh;
    background-color: #0BA5BE;
    position: relative;
    padding: 80px 40px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    overflow: hidden;
}
.hero-section:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/font.png");
    opacity: 0.4;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: 1;
}
.hero-section ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    z-index: 2;
}
.hero-section ul img {
    width: 50px;
    height: 50px;
}

.hero-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 96px;
    color: #fff;
    z-index: 2;
}

.hero-img {
    width: 600px;
    height: 600px;
    position: absolute;
    top: -30px;
    right: -40px;
    z-index: 2;
}

.about-section, .city-section {
    height: 400px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.city-section {
    height: 500px;
    align-items: flex-end;
}

.about-title, .city-title {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    color: #013F4E;
    margin-bottom: 20px;
}

.about-title span, .city-title span {
    color: #0BA5BE;
}

.about-img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.city-img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.city-text {
    margin-bottom: 15px;
    font-weight: 500;
}

.city-text-box ul li {
    margin-left: 10px;
    margin-top: 8px;
    font-size: 14px;
}

.about-text-box {
    width: 50%;
    margin-top: 30px;
}

.city-text-box {
    width: 50%;
    margin-top: 60px;
}

.about-text, .city-text {
    line-height: 1.5;
}

.resume-section {
    padding: 100px;
    background-color: #00718F;
}

.resume-title {
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.resume-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
}

.resume-form input {
    padding: 16px 24px;
    border-radius: 25px;
    border: none;
    background-color: #96c5d1;
    box-shadow: 0px 0px 10px rgba(1, 63, 78, 0.1);
    font-size: 16px;
    color: #013F4E;
}

.resume-form input::placeholder {
    color: #00566d;
}

.resume-form input:focus {
    outline: none;
}

.resume-form input:focus::placeholder {
    color: transparent;
}

.resume-form .resume-send-button {
    color: #fff;
    padding: 12px 24px;
    border-radius: 25px;
    border: 3px solid #fff;
    background: none;
    width: 300px;
    grid-column: 2;
    text-transform: uppercase;
    font-size: 16px;
    max-width: 200px;
    font-weight: 700;
    justify-self: flex-end;
    cursor: pointer;
}

.resume-form .resume-send-button:hover {
    background-color: #fff;
    color: #013F4E;
    transition: all 0.3s;
}

.vacancy-section {
    padding: 100px 150px;
    background-color: #e1eef2;
}

.vacancy-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.vacancy-title, .news-title {
    color: #013F4E;
    font-size: 48px;
    text-transform: uppercase;
}

.news-title {
    margin-bottom: 30px;
}

.apply-btn {
    color: #fff;
    padding: 12px 24px;
    border-radius: 25px;
    border: none;
    background-color: #0BA5BE;
    text-transform: uppercase;
    font-size: 16px;
    height: 50px;
    cursor: pointer;
    font-weight: 700;
}

.apply-btn:hover {
    background-color: #4b9bb0;
    transition: all 0.3s;
}

.vacancy-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.vacancy-card {
    background-color: #fff;
    width: 30%;
    height: 280px;
    text-align: center;
    padding: 30px;
    box-shadow: 0px 0px 10px #96c5d1;
    cursor: pointer;
    position: relative;
    margin-bottom: 30px;
}

.vacancy-card:hover {
    background-color: #00718F;
    transition: all 0.3s;
}

.vacancy-card:hover h2, .vacancy-card:hover p {
    color: #fff;
}

.vacancy-card h2 {
    font-size: 18px;
    text-transform: uppercase;
    color: #013F4E;
    margin-bottom: 20px;
    word-wrap: break-word;
}

.vacancy-card p {
    font-size: 14px;
    color: #013F4E;
    word-wrap: break-word;
}

.vacancy-card img {
    width: 50px;
    height: 50px;
    margin-bottom: 16px;
}

.vacancy-link {
    text-decoration: none;
    font-size: 14px;
    color: #013F4E;
    text-align: center;
    margin-top: 20px;
    display: block;
    cursor: pointer;
}

.vacancy-link:hover {
    color: #00718F;
    transition: all 0.3s;
    text-decoration: underline;
}

.news-section {
    padding: 100px 150px;
}

.news-cards {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.news-card {
    position: relative;
    background-color: #d2e6eb;
    box-shadow: 0px 0px 10px #d2e6eb;
    width: 45%;
    height: 450px;
    overflow: hidden;
}

.news-card img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: -25%;
    left: 40%;
}

.date {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.news-card p {
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
}

.news-card h2 {
    font-size: 24px;
    margin-bottom: 15px;
    word-wrap: break-word;
}

.news-card h2:hover {
    color: #00718F;
    transition: all 0.3s;
}

footer {
    background-color: #00718F;
    padding: 50px 100px;
    text-align: center;
}

footer p {
    margin-top: 6px;
    color: #fff;
    font-size: 14px;
}

footer img {
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 50px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    position: relative;
}

.modal-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.modal-title {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
    color: #013F4E;
}

.modal-title span {
    color: #00718F;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.modal-title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.modal-title-box p {
    font-size: 18px;
    font-weight: 700;
    color: #00718F;
}

.modal input[type="button"] {
    color: #013F4E;
    padding: 12px 24px;
    border-radius: 25px;
    border: 3px solid #013F4E;
    background: none;
    width: 300px;
    text-transform: uppercase;
    font-size: 16px;
    max-width: 200px;
    font-weight: 700;
    grid-column: 2;
    justify-self: flex-end;
}

.modal input[type="button"]:hover {
    background-color: #013F4E;
    color: #fff;
    transition: all 0.3s;
    cursor: pointer;
}

.modal input, .modal select {
    padding: 16px 24px;
    border-radius: 25px;
    border: none;
    background-color: #96c5d1;
    box-shadow: 0px 0px 10px rgba(1, 63, 78, 0.1);
    font-size: 16px;
    color: #013F4E;
}

.modal input::placeholder {
    color: #00566d;
}

.modal input:focus, .modal select:focus {
    outline: none;
}

.modal input:focus::placeholder {
    color: transparent;
}

.arrow {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
}

