{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Kyiv SmartCity</title>
    <link rel="icon" href="../static/img/navigation.svg" type="image/x-icon">

<!--    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">-->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
<div class="box">
    <div class="sidebar">
        <div class="sidebar-content">
            <h2 class="sidebar-title">
                <span>smart</span><br> city</h2>
            <ul class="sidebar-links">
                <a href="#about">про проєкт</a>
                <a href="#resume">робоча група</a>
                <a href="#vacancy">вакансії</a>
                <a href="#news">новини</a>
            </ul>
        </div>
    </div>
    <main class="main-content">
        <section class="hero-section">
            <h2 class="hero-title">
                <span>smart city</span></h2>
            <img class="hero-img" src="{% static 'img/191126_005.jpg'%}">
            <ul>
                <li><a href="#"><img src="{% static 'img/instagram.svg'%}" alt=""></a></li>
                <li><a href="#"><img src="{% static 'img/facebook.svg'%}" alt=""></a></li>
                <li><a href="#"><img src="{% static 'img/telegram.svg'%}" alt=""></a></li>
            </ul>
        </section>
        <section class="about-section" id="about">
                <div class="about-img-box">
                    <img class="about-img" src="{% static 'img/baran.jpg'%}">
                </div>
                <div class="about-text-box">
                    <h2 class="about-title"><span>про</span> проєкт</h2>
                    <p class="about-text">Ласкаво просимо до нашого проєкту "Веб-сторінка Розумні міста"!
                        Ми присвячені вивченню та просуванню інноваційних рішень для розумних міст, де технології сприяють
                        покращенню якості життя громадян. На нашій веб-сторінці ви знайдете актуальні новини. Приєднуйтесь до нас
                        у вивченні майбутнього, де інтернет речей, штучний інтелект та інші інноваційні технології формують міста,
                        щоб зробити їх більш ефективними, екологічно чистими та зручними для всіх жителів.</p>
                </div>
        </section>
        <section class="resume-section" id="resume">
            <div class="container">
                <h3 class="resume-title">Долучитися до роботи</h3>
                <form class="resume-form">
                    {% csrf_token %}
                    <input placeholder="Ім'я" type="text" name="name">
                    <input placeholder="Прізвище" type="text" name="surname">
                    <input placeholder="Електронна адреса" type="text" name="email">
                    <input placeholder="Спеціалізація" type="text" name="spec">
                    <input class="resume-send-button" type="button" value="Відправити" onclick=validateAndSubmitForm()>
                </form>
            </div>
        </section>
        <section class="city-section">
                <div class="city-img-box">
                    <img class="city-img" src="{% static 'img/city.jpg'%}">
                </div>
                <div class="city-text-box">
                    <h2 class="city-title">Що таке <br> <span>розумне місто</span></h2>
                    <p class="city-text">Актуальні розумні технології які активно впроваджують у розумні міста:</p>
                    <ul>
                        <li>Системи "розумного" освітлення</li>
                        <li>Електронні системи оплати громадського транспорту</li>
                        <li>Системи відокремлення та переробки сміття</li>
                        <li>Мережі "розумних" камер для безпеки</li>
                        <li>Електронні інформаційні дошки</li>
                        <li>Мережі бездротового інтернету (Wi-Fi)</li>
                        <li>Системи екологічного моніторингу</li>
                        <li>Електричні транспортні засоби та зарядні станції</li>
                        <li>Мобільні додатки для
                            системи керування водоспоживанням</li>
                    </ul>
                </div>
        </section>
        <section class="vacancy-section" id="vacancy">
            <div class="container">
                <div class="vacancy-header">
                    <h3 class="vacancy-title">Вакансії</h3>
                    <button class="apply-btn" onclick="openModal()">Подати заявку</button>
                </div>
                <div class="vacancy-cards">
                    {% for vacancy in vacancies %}
                        <div class="vacancy-card" onclick="openModal()">
                            <img src="{{ vacancy.image.url }}" alt="">
                            <h2>{{ vacancy.title }}</h2>
                            <p>{{ vacancy.content }}</p>
                            <img class="arrow" src="{% static 'img/rigth.svg'%}">
                        </div>
                    {% endfor %}
            </div>
                <a class="vacancy-link">Більше вакансій</a>

                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span onclick="closeModal()" class="close">&times;</span>
                        <div class="modal-title-box">
                            <h2 class="modal-title"><span>подати</span> заявку</h2>
                            <p>Заповніть усі поля для подання заявки</p>
                        </div>
                        <form class="modal-form">
                            <input placeholder="Ім'я" type="text">
                            <input placeholder="Прізвище" type="text">
                            <input placeholder="Телефон" type="text">
                            <select>
                                <option value="option1" selected>Вакансія</option>
                                <option value="option2">Керівник офісу SmartCity</option>
                                <option value="option3">Асистент</option>
                                <option value="option4">Координатор проєкту</option>
                                <option value="option5">SMM-менеджер</option>
                                <option value="option6">PR-менеджер</option>
                                <option value="option7">Frontend Developer</option>
                                <option value="option8">Backend Developer</option>
                            </select>
                            <button type="submit">Відправити</button>
                        </form>
                    </div>
                </div>
            </div>

        </section>
        <section class="news-section" id="news">
            <div class="container">
                <h3 class="news-title">Новини</h3>
                <div class="news-cards">
                    {% for new in news %}
                        <div class="news-card">
                            <img src="{{ new.image.url }}" alt="">
                            <p class="date">{{ new.date }}</p>
                            <h2>{{ new.title }}</h2>
                            <p>{{ new.content }}</p>
                            <img class="arrow" src="{% static 'img/rigth.svg'%}">
                        </div>

                {% endfor %}
                </div>
            </div>

        </section>
        <footer>
            <img src="{% static 'img/circle.svg'%}">
            <p>+38(094)9632485</p>
            <p>office@smartcity.ua</p>
            <p>м.Київ, бул.Шевченка,12, оф.501</p>
        </footer>
    </main>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function openModal() {
        document.getElementById('myModal').style.display = 'block';
    }

    function closeModal() {
        document.getElementById('myModal').style.display = 'none';
    }

    window.onclick = function(event) {
        let modal = document.getElementById('myModal');
        if (event.target === modal) {
            modal.style.display = 'none';
        }
    };
    function validateAndSubmitForm() {
        const name = document.querySelector('input[name="name"]').value;
        const surname = document.querySelector('input[name="surname"]').value;
        const email = document.querySelector('input[name="email"]').value;
        const spec = document.querySelector('input[name="spec"]').value;
        if (!name || !surname || !email || !spec) {
            alert('Всі поля обов\'язкові до заповнення!');
            return;
        }
        submitForm();
    }

    function submitForm() {
        const name = document.querySelector('input[name="name"]').value;
        const surname = document.querySelector('input[name="surname"]').value;
        const email = document.querySelector('input[name="email"]').value;
        const spec = document.querySelector('input[name="spec"]').value;

        const data = {
            'name': name,
            'surname': surname,
            'email': email,
            'spec': spec,
        }

        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        fetch('{% url "resume" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,
            },
            body: JSON.stringify(data),
        })
    }
</script>
</body>
</html>
